<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.re.reverb"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/reverb_icon_text"
        android:label="@string/app_name"
        android:theme="@style/Theme.CustomActionBar" >
        <activity
            android:name="com.re.reverb.ui.MainViewPagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.CustomActionBar">
        </activity>
        <activity
            android:name="com.re.reverb.ui.CreatePostActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_post"
            android:parentActivityName="com.re.reverb.ui.MainViewPagerActivity"
            android:theme="@style/Theme.CustomActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.re.reverb.ui.MainViewPagerActivity" />
        </activity>
        <activity
            android:name="com.re.reverb.ui.CreateReplyPostActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_post_reply"
            android:parentActivityName="com.re.reverb.ui.MainViewPagerActivity"
            android:theme="@style/Theme.CustomActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.re.reverb.ui.MainViewPagerActivity" />
        </activity>
        <activity
            android:name="com.re.reverb.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_settings_activity"
            android:parentActivityName="com.re.reverb.ui.MainViewPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.re.reverb.ui.MainViewPagerActivity" />
        </activity>
        <activity android:name="com.re.reverb.ui.SplashScreenActivity"
                  android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.re.reverb.ui.CreateRegionActivity"
                  android:screenOrientation="portrait"
            android:label="@string/title_activity_create_region">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.re.reverb.ui.MainViewPagerActivity" />

        </activity>

        <service android:enabled="true" android:name=".ui.BackgroundUpdateService" />

        <!--<receiver android:name=".ui.AlarmBroadcastReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.re.reverb.intent.alarm.broadcast" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_key"/>

    </application>

</manifest>

